@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {  
  font-size: 32px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;  
}

.app {
  background-color: hsl(222, 26%, 31%, 90%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-principal {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 400px;
  height: auto;
  background-color: hsl(222, 26%, 31%);
  padding: 25px;
  border-radius: 20px;
}

.pantalla {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  background-color: hsl(224, 36%, 15%);
  border-radius: 10px;
  font-size: 50px;
  color: white;
  padding: 0 20px;
  overflow: hidden;
}

.teclado {
  display: flex;    
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: hsl(223, 31%, 20%);
  padding: 25px 25px 30px;
  border-radius: 10px;
}

.fila {  
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: 15px;
}


/* Theme 2 */

.theme2 {
  background-color: hsl(0, 0%, 98%);  
}

.theme2 .header p {
  color: hsl(60, 10%, 19%);
}

.theme2 .header .contenedor-theme {
  color: hsl(60, 10%, 19%);
}

.theme2 .header .contenedor-theme .contenedor-boton .botones div {
  background-color: hsl(0, 5%, 80%);
}

.theme2 .pantalla {
  background-color: hsl(0, 0%, 90%);
  color: hsl(60, 10%, 19%);
}

.theme2 .teclado {
  background-color: hsl(0, 5%, 80%);  
}

.theme2 .boton {
  background-color: hsl(45, 7%, 95%);  
  box-shadow: 0 5px 0 0 hsl(35, 11%, 61%);
  color: hsl(60, 10%, 19%);
}

.theme2 .boton:active {
  transform: translateY(2px);
  box-shadow: 0 3px 0 0 hsl(35, 11%, 40%);
}

.theme2 .boton-clear {
  background-color: hsl(185, 42%, 37%);  
  box-shadow: 0 5px 0 0 hsl(185, 58%, 25%);
  color: white;
}

.theme2 .boton-clear:active {
  transform: translateY(2px);
  box-shadow: 0 3px 0 0 hsl(181, 100%, 12%);
}

.theme2 .operador {
  background-color: hsl(25, 98%, 40%);  
  box-shadow: 0 5px 0 0 hsl(25, 99%, 27%);
  color: white;
}

.theme2 .operador:active {
  transform: translateY(2px);
  box-shadow: 0 3px 0 0 hsl(25, 99%, 16%);
}

/* Theme 3 */

.theme3 {
  background-color: hsl(289, 54%, 22%);  
}

.theme3 .header p {
  color: hsl(61, 100%, 48%);
}

.theme3 .header .contenedor-theme {
  color: hsl(61, 100%, 48%);
}

.theme3 .header .contenedor-theme .contenedor-boton .botones div {
  background-color: hsl(289, 54%, 52%);
}

.theme3 .header .contenedor-theme .contenedor-boton .botones div:nth-child(3) span {
  background-color: hsl(61, 100%, 48%);
}

.theme3 .pantalla {
  background-color: hsl(289, 54%, 52%);
  color: hsl(61, 100%, 48%);
}

.theme3 .teclado {
  background-color: hsl(289, 54%, 52%);  
}

.theme3 .boton {
  background-color: hsl(61, 100%, 48%);  
  box-shadow: 0 5px 0 0 hsl(61, 100%, 25%);
  color: hsl(60, 10%, 19%);
}

.theme3 .boton:active {
  transform: translateY(2px);
  box-shadow: 0 3px 0 0 hsl(61, 100%, 18%);
}

.theme3 .boton-clear {  
  background-color: hsl(181, 100%, 45%);  
  box-shadow: 0 5px 0 0 hsl(181, 100%, 25%);
  color: hsl(60, 10%, 19%);
}

.theme3 .boton-clear:active {
  transform: translateY(2px);
  box-shadow: 0 3px 0 0 hsl(181, 100%, 15%);
}

.theme3 .operador {
  background-color: hsl(317, 100%, 62%);  
  box-shadow: 0 5px 0 0 hsl(317, 100%, 32%);
  color: hsl(60, 10%, 19%);
}

.theme3 .operador:active {
  transform: translateY(2px);
  box-shadow: 0 3px 0 0 hsl(317, 100%, 20%);
}

@media screen and (max-width: 450px) {
  .contenedor-principal {
    width: 100%;
    padding: 15px;
    gap: 15px; 
    height: 100%;   
    border-radius: 0;
    align-content: center;
  }

  .teclado {
    gap: 15px;  
    padding: 20px 20px 25px;
  }  
}